LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

# connexions on J1
LOCATE COMP "blue_o" SITE "F3"; #1
LOCATE COMP "red_o" SITE "F1"; #2
LOCATE COMP "green_o" SITE "G3"; #3
LOCATE COMP "hsync_o" SITE "G2"; #5
LOCATE COMP "vsync_o" SITE "H3"; #6
